<% provide :page_title, 'Edit Lot' %>
<% currently_at 'Edit lot' %>
<h1>Editing Lot</h1>
<p id="notice"><%= notice %></p>

<%= render 'form', lot: @lot %>

<%= link_to 'Show', @lot, class: 'btn btn-secondary' %>
<%= link_to 'Delete', @lot, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<%= link_to 'Back', lots_path, class: 'btn btn-secondary' %>