<% provide :page_title, 'Lots' %>
<% currently_at 'Lots' %>
<% if user_signed_in? %>
<h1 class="text-center">Welcome to Auction</h1>

<p id="notice"><%= notice %></p>

<table class="table table-dark table-striped">
  <thead>
    <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Price</th>
    <th>Fast buy price</th>
    <th>End date</th>
    <th>Images</th>
    <th>Lot owner</th>
    </tr>
  </thead>

  <tbody>
    <% @lots.each do |lot| %>
        <td><%= link_to lot.name, lot %></td>
        <td><%= lot.description %></td>
        <td><%= lot.category_id %></td>
        <td><%= lot.start_price %>$</td>
        <td><%= lot.fast_buy_price %>$</td>
        <td><%= lot.end_date.strftime("%d.%m.%Y") %></td>
        <td><%= image_tag lot.images.first, width: "200px", height: "200px" %></td>
        <td><%= lot.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lot', new_lot_path, class:"btn btn-success" %>
<% else %>
<h1 class="text-center">Welcome to Auction</h1>
<br/>
<h2 class="text-center">Please, <%= link_to 'sign in', new_user_session_path, class:"btn btn-secondary"%> or <%= link_to 'sign up', new_user_registration_path, class:"btn btn-warning" %> to continue</h2>
<% end %>