<% provide :page_title, 'Lots' %>
<% currently_at 'Lots' %>
<% if user_signed_in? %>

<p id="notice"><%= notice %></p>
<br/>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @lots.each do |lot| %>
  <div class="col">
    <div class="card text-white bg-dark mb-3">
      <%= image_tag lot.images.first, class: 'card-img-top img-fluid img-thumbnail' %>
      <span class="card-notify-badge"><%= @categories[lot.category_id].title %></span>
      <div class="card-body">
        <h2 class="card-title text-center"><%= link_to lot.name, lot, class: 'text-warning' %></h2>
        <h5 class="product_price text-center">Start price: <%= lot.start_price %>$</h5>
        <h5 class="product_price text-center">Max price: <%= lot.fast_buy_price %>$</h5>
        <h5 class="card-title text-danger text-center">End date: <%= lot.end_date.strftime("%d.%m.%Y") %></h5>
      <div class="card-h-75"><p class="card-text text-center">Lot description: <%= lot.description %></p>
      </div> 
      </div>
      <% if lot.user_id == current_user.id %>
      <div class="card-body">
        <h5 class="card-title">Lot bids: <%= lot.bids.count %></h5>
        <%= link_to 'Edit', edit_lot_path(lot), class: 'btn btn-primary' %>
        <%= link_to 'Delete', lot, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
      <% else %>
      <div class="card-body">

      <h5 class="card-title">Lot bids: <%= lot.bids.count %></h5>
        <%= link_to 'Bid', lot, class: 'card-button btn' %>
      </div>
      <% end %>
      <div class="card-footer">
        <small class="text-muted">Last update: <%= lot.updated_at %></small>
      </div>
    </div>
  </div>
<% end %>
</div>

<br/>


<%= link_to 'csv', lots_path(format: :csv), class: 'btn btn-danger' %>
<%= link_to 'New Lot', new_lot_path, class:"btn btn-success" %>
<%= paginate @lots %>
<% else %>

<h1 class="text-center">Welcome to Auction!</h1>
<br/>
<h3 class="text-center">Please, sign in or register to start bidding!</h3>
<% end %>